body
{
    background-color:aliceblue;
}
h1 {
    color: royalblue;
    border: dashed;
    font: bold;
    font-size: 35px;
}
h2{
    font:bold;
    color:azure;
    background-color:royalblue;
}
h3{
    font: bold;
    color: azure;
    background-color: royalblue;
    font-size: 25px;
}
ul {
    display: inline-block;
    text-align: center;
    font-size: 20px;
}
p {
    font-size: 20px;
}
p2{
    color-scheme:light;
    color:cornflowerblue;
    font-size: 25px;
}
h4 {
    font: bold;
    color: azure;
    background-color: royalblue;
    font-size: 25px;
}
a:link {
    background-color: transparent;
    text-decoration: none;
}
p4{
    color:royalblue;
}

